In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import pathlib as Path

In [3]:
fp1 = "New folder/diabetes_binary_5050split_health_indicators_BRFSS2015.csv"
#fp2 = "New folder/diabetes_prediction_dataset.csv"

In [5]:
file1 = pd.read_csv(fp1)
file1.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

In [6]:
df = file1.iloc[:, [0, 1, 2, 3, 4, 5]]
df
smoking_df = df.iloc[:, [0 ,5]]
smoking_df

       Diabetes_binary  Smoker
0                  0.0     0.0
1                  0.0     1.0
2                  0.0     0.0
3                  0.0     1.0
4                  0.0     1.0
...                ...     ...
70687              1.0     0.0
70688              1.0     1.0
70689              1.0     0.0
70690              1.0     0.0
70691              1.0     0.0

[70692 rows x 2 columns]

In [16]:
smoking_gb = smoking_df.groupby("Diabetes_binary").sum()
smoking_gb.rename(columns={"Diabetes_binary" : "Diabetes"})
smoking_gb

                  Smoker
Diabetes_binary
0.0              15281.0
1.0              18317.0

In [46]:
file2

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0